/* src/components/Client.css */

.client {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.username {
  margin-left: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.youLabel {
  color: gray;
  font-size: 0.8em;
  margin-left: 5px;
}

.kickBtn {
  margin-left: 8px;
  color: red;
  cursor: pointer;
  display: none;
  font-size: 0.9em;
}

.client:hover .kickBtn {
  display: inline;
}
